<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./images/favicon-32x32.png" type="image/png">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3" defer></script>
  <script src="app.js" defer></script>
  <title>Feedback</title>
</head>

<body id="rating">

  <article class="card" :class="{ 'card--thankyou': submitted }">
    <template v-if="submitted">
      <img class="illus" src="./images/illustration-thank-you.svg" alt="">
      <p class="result">You selected {{rating}} out of 5</p>
      <h2 class="card__title">Thank you!</h2>
      <p class="card__intro">We appreciate you taking the time to give a rating. If you ever need more support, don't
        hesitate to get in touch!
      </p>
    </template>
    <template v-else>

      <span class="star"><img src="./images/icon-star.svg" alt=""></span>
      <h2 class="card__title">How did we do?</h2>
      <p class="card__intro">Please let us know how we did with your support request. All feedback is appreciated to
        help us improve our offering!</p>

      <form @submit.prevent="submitted = true">
        <p class="ratings">
          <label class="rating" :class="{ 'rating--active': rating == 1 }"><input type="radio" name="rating"
              v-model="rating" value="1" required><span>1</span></label>
          <label class="rating" :class="{ 'rating--active': rating == 2 }"><input type="radio" name="rating"
              v-model="rating" value="2" required><span>2</span></label>
          <label class="rating" :class="{ 'rating--active': rating == 3 }"><input type="radio" name="rating"
              v-model="rating" value="3" required><span>3</span></label>
          <label class="rating" :class="{ 'rating--active': rating == 4 }"><input type="radio" name="rating"
              v-model="rating" value="4" required><span>4</span></label>
          <label class="rating" :class="{ 'rating--active': rating == 5 }"><input type="radio" name="rating"
              v-model="rating" value="5" required><span>5</span></label>
        </p>
        <button class="btn" type="submit">Submit</button>
      </form>

    </template>
  </article>

</body>

</html>
